/* ФОН */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
}

.overlay {
    background: url("images/background.jpg") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

header {
    position: relative;
    z-index: 5;
    padding: 100px 40px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 10px auto;
}

/* Кнопки */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #b30000;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn:hover {
    background: #d10000;
    transform: scale(1.05);
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.7s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

/* Цитаты */
.quote-box {
    background: #1a1a1a;
    border-left: 4px solid #b30000;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #e6e6e6;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.quote-box.show {
    opacity: 1;
    transform: translateY(0);
}

.secondary-btn {
    background: #333;
    margin-top: 15px;
}

.secondary-btn:hover {
    background: #555;
    transform: scale(1.05);
}

