body {
    margin: 0;
    font-family: Arial, sans-serif;
      background-image: url('background.jpg'); center/cover fixed no-repeat;
    color: white;
}

/* Тёмный оверлей */
.overlay {
    background: rgba(0, 0, 0, 0.63);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

header p {
    font-size: 24px;
    margin-bottom: 30px;
}

/* Кнопки */
.btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 13px 25px;
    background: #c72323;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #8f1717;
}

/* Общие блоки */
.block {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.7s ease;
    background: rgba(0,0,0,0.6);
    padding: 40px;
    margin: 60px auto;
    width: 80%;
    border-radius: 12px;
}

/* Появление */
.block.show {
    opacity: 1;
    transform: translateY(0);
}

/* Лист фактов */
ul {
    font-size: 20px;
    line-height: 1.7;
}

/* Секрет */
.secret {
    border-left: 4px solid #ff2222;
}

/* Карточки */
.study-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: rgba(255,255,255,0.15);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
